<div class="main-container h-100">
  <div class="d-flex justify-content-center align-items-center container h-100">
    <div class="loginForm p-4">
      <div class="d-flex justify-content-center align-items-center container">
        <h1 class="loginH1">Create Account</h1>
      </div>
      <form [formGroup]="registerForm">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Enter your first name</mat-label>
              <input
                matInput
                placeholder="First Name"
                formControlName="fname"
              />
              <mat-error
                *ngIf="registerForm.controls['fname'].errors && registerForm.controls['fname'].errors?.['required']"
                >*First name is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Enter your last name</mat-label>
              <input matInput placeholder="Last name" formControlName="lname" />
              <mat-error
                *ngIf="registerForm.controls['lname'].errors && registerForm.controls['lname'].errors?.['required']"
                >*Last name is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Enter your mobile number</mat-label>
              <input
                matInput
                placeholder="Mobile number"
                formControlName="contact"
              />
              <mat-error
                *ngIf="registerForm.controls['contact'].errors && registerForm.controls['contact'].errors?.['required']"
                >*Last name is required</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error
                *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors?.['required']"
                >*Email is required</mat-error
              >
              <mat-error
                *ngIf="registerForm.controls['email'].errors && registerForm.controls['email'].errors?.['email']"
                >*Enter a valid email</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Enter your password</mat-label>
              <input
                matInput
                [type]="hide ? 'password' : 'text'"
                placeholder="Password"
                formControlName="password"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  hide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="registerForm.controls['password'].errors && registerForm.controls['password'].errors?.['required']"
                >*Password is required</mat-error
              >
              <mat-error
                *ngIf="registerForm.get('password')?.hasError?.('pattern')"
                >*Password should contain at least one lowercase letter, one
                uppercase letter, one digit, one special character, and be at
                least 8 characters long.</mat-error
              >
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Enter your confirm password</mat-label>
              <input
                matInput
                [type]="confirmPassHide ? 'password' : 'text'"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="confirmPassHide = !confirmPassHide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                <mat-icon>{{
                  confirmPassHide ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="registerForm.controls['confirmPassword'].errors && registerForm.controls['confirmPassword'].errors?.['required']"
                >*Confirm password is required</mat-error
              >
              <mat-error
                *ngIf="registerForm.controls['confirmPassword'].errors && (registerForm.controls['confirmPassword'].errors?.['minlength'])"
                >*Please Enter at least 6 Digit</mat-error
              >
              <mat-error
                *ngIf="
                  registerForm
                    .get('confirmPassword')
                    ?.hasError('confirmedValidator') &&
                  !registerForm.get('confirmPassword')?.hasError('required')
                "
              >
                *Password and confirm password did not match</mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="mt-0 loginContainer p-4">
        <button
          mat-button
          color="accent"
          class="loginBtn"
          type="submit"
          (click)="handleFormSubmit()"
        >
          Sign Up
        </button>
        <div class="mt-4 d-flex justify-content-center loginH1">
          <span
            >Already have an account
            <span class="anchorTag" [routerLink]="'/login'">Sign In</span></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
