<div class="main-container h-100">
  <div class="d-flex justify-content-center align-items-center container h-100">
    <div>
      <div>
        <h1>Hello, Welcome to The Most Complete Social Network is Here!</h1>
      </div>
      <div>
        <h2>
          We are the best and biggest social network with 5 billion active users
          all around the world.<br> Share your thoughts, write blog posts, show your
          favorite music, earn badges and much more!
        </h2>
      </div>
      <div>
        <button mat-button color="accent" class="startedBtn" [routerLink]="'/login'">&nbsp; Get started &nbsp;</button>
      </div>
    </div>
</div>
</div>
